/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS */

.navbar {
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  color: rgb(234, 60, 60);
}

.navbar > p {
  font-size: 2rem;
}

.navbar > div {
  display: flex;
  gap: 30px;
}

.navbar > div > * {
  all: unset;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar > div > *:hover {
  color: rgb(252, 135, 135);
}

#home_cont {
  margin-top: 50px;
  display: flex;
  place-items: center;
  flex-direction: column;
}

#lasagna {
  margin-bottom: 50px;
  height: 300px;
  width: 450px;
  border-radius: 1px;
}

#welcome {
  margin-bottom: 15px;
  font-size: 2.1rem;
}

#rest-desc {
  text-align: center;
  padding: 0 40px 0 40px;
  font-size: 1.3rem;
}

#menu_cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border: 1px black solid;
}

#card-title {
  color: rgb(156, 3, 3);
  font-size: 1.5rem;
  padding-bottom: 5px;
}

#card-desc {
  font-size: 1.3rem;
  align-self: center;
  padding-top: 15px;
}

.card > img {
  align-self: center;
  height: 250px;
  width: 300px;
  border-radius: 5%;
}

#contact_cont {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 150px;
}

#contact_cont > p {
  font-size: 1.3rem;
}

.address {
  white-space: pre-line;
  text-align: center;
}
