/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS */
:root {
  --sidebar-width: 170px;
  --light-blue: rgb(0, 157, 255);
  --top-width: 50px;
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 15fr;
  background-color: #292524;
}

.top {
  background-color: #292524;
  min-height: var(--top-width);
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  background-color: #292524;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  border-radius: 5px;
  min-width: 225px;
}

::backdrop {
  height: 100%;
  width: 100%;
  background-color: #292524;
}

#dialog-proj {
  background-color: #292524;
  justify-self: center;
  align-self: start;
  margin-top: 200px;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  padding: 30px;
  width: 500px;
  margin-bottom: 20px;
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog > form > * {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0 30px;
}

.proj-title {
  text-align: center;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #363231;
  border: none;
  border-radius: 5px;
  padding-left: 6px;
  color: white;
  font-weight: 400;
}

input[type="submit"] {
  border: none;
  background-color: #363231;
  border-radius: 5px;
  color: white;
  margin: 0 29px 0 29px;
  width: 200px;
  place-self: center;
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}

fieldset {
  border: none;
}

input[type="submit"]:hover {
  background-color: #4b4645;
}

input[type="date"] {
  background-color: #363231;
  border-radius: 5px;
  border: none;
  padding-left: 6px;
  color: white;
  font-weight: 400;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

textarea {
  all: unset;
  background-color: #363231;
  border-radius: 5px;
  padding-left: 5px;
}

#dialog-item {
  background-color: #292524;
  justify-self: center;
  align-self: center;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  padding: 30px;
  width: 500px;
  margin-bottom: 20px;
}

#dialog-edit {
  background-color: #292524;
  justify-self: center;
  align-self: center;
  color: white;

  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  padding: 30px;
  width: 500px;
  margin-bottom: 20px;
}

.create-todo {
  display: flex;
  justify-content: center;
}

#new-proj {
  all: unset;
  text-align: center;
  color: white;
  background-color: #363231;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  place-self: center;
  align-self: start;
}

#new-proj:hover {
  background-color: #4b4645;
  color: white;
  cursor: pointer;
}

.proj-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.proj-container {
  display: flex;
  color: white;
  align-self: center;
  border-radius: 5px;
}

.projects {
  all: unset;
  background-color: #363231;
  justify-self: center;
  width: 140px;
  text-align: center;
  height: 40px;
  margin-left: 25px;
  border-radius: 5px;
}

.projects:hover {
  background-color: #4b4645;
  color: white;
  cursor: pointer;
}

.del-proj {
  all: unset;
  justify-self: end;
  padding-right: 3px;
  width: 20px;
  text-align: end;
  cursor: pointer;
}

.del-proj:hover {
  color: black;
}

.main-area {
  display: flex;
  flex-direction: column;
  background-color: #363231;
  border-top-left-radius: 5px;
}

.new-todo {
  all: unset;
  align-self: center;
  margin-top: 5px;
  color: rgb(84, 81, 81);
  background-color: white;
  width: 150px;
  height: 35px;
  border-radius: 5px;

  text-align: center;
  cursor: pointer;
}

.new-todo:hover {
  background-color: rgb(203, 203, 203);
}

.card-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 25px;
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  padding: 10px;
  min-height: 100px;
  border-radius: 5px;
}

.card.completed * {
  text-decoration: line-through;
  opacity: 0.7;
}

.top-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  place-items: center;
}
.top-card > * {
  text-align: center;
  width: 150px;
}

.card.line-through {
  text-decoration: line-through;
}

.bottom-card {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.bottom-card > button {
  all: unset;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  width: 115px;
}

.bottom-card > button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.card.priority-high {
  background-color: rgb(208, 40, 40);
}

.card.priority-low {
  background-color: rgb(24, 166, 29);
}
